a {
    color: #e65100;
}

a:hover {
    color: #e65100;
}

.bkg-orange {
    background: #FF9800 !important;
    color: #FFF !important;
}

.bkg-orange th a {
    color: #FFF !important;
}

.navbar {
    z-index: 999; /* button is on 1000 */
    border-bottom: 2px #FFF solid;
}

.navbar a {
    color: #FFF !important;
}

.fa-check {
    color: #5cb85c;
}

.fa-times {
    color: #dd4f52;
}

.landing-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.landing-form {
    padding: 50px;
    background: rgba(0,0,0,0.6);
    width: 40vw;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    text-align: center;
    padding-bottom: 20px;
}

.jumbotron-logos img{
    width: 100%;
    max-width: 50vw;
}

.title-logo img {
    margin-top: 64px;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.flex-row {
    display: flex;
    Justify-content: center;
    align-items: center;
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}

.subtitle {
    margin: 20px 10vw 50px;
    color: #FF9800;
}


.navbar-brand img {
    max-width: 100px;
}

.landing-overview-image img {
    max-width: 100%;
}

#right-nav {
    margin-right: 200px
}

#slideshow {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    display: flex;
    justify-content: center;
    
}

.footer-text {
    padding-left: calc(20px + 50px);
    margin-left: auto;
}

.footer-logo {
    margin-left: auto;
    margin-right: 64px;
}

.footer-logo img {
    max-height: 50px;
}

.slideshow-container {
    position: relative; 
    padding-bottom: 60%;
    height: 0; 
    max-width: 100%;
} 

.slideshow-container iframe, .slideshow-container object, .slideshow-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; }

.scrollable {
    overflow: scroll;
}

/*------ Sticky footer -------*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #292b2c;
}
/*------ End Sticky footer -------*/



/*--- Blockone ID ------*/

.authBarSignInButton {
    background: none !important;
    border: 2px solid #FFF !important;
}

.authBarSignInButton:hover {
    background: #FFF !important;
    color: #FF9800 !important;
}

.authBarSignInButton:active {
    background: #EDEDED !important;
    color: #FF9800 !important;
    border: 2px solid #EDEDED !important;
}

/*--- End Blockone ID ------*/

#M_info_label {
  color: #ffffff;
  display: none;
}

@media only screen and (max-width: 576px) {
    .subtitle {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .title-logo img {
        max-width: 70%;
    }
}


