.bkg-blue {
    background: #4bceff !important;
    color: #25677f !important;
}

.bkg-blue th a {
    color: #25677f !important;
}

.navbar a {
    color: #25677f !important;
}

.fa-check {
    color: #5cb85c;
}

.fa-times {
    color: #dd4f52;
}

.landing-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.landing-form {
    padding: 50px;
    background: rgba(0,0,0,0.6);
    width: 40vw;
}


/*------ Sticky footer -------*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #292b2c;
}
/*------ End Sticky footer -------*/

#M_info_label {
  color: #ffffff;
  display: none;
}