.bkg-b9-red {
    background: #dd4f52 !important;
    color: #FFF
}

.bkg-b9-red th {
    color: #FFF
}

.fa-check {
    color: #5cb85c;
}

.fa-times {
    color: #dd4f52;
}


/*------ Sticky footer -------*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #292b2c;
}
/*------ End Sticky footer -------*/