<div class="rating-details">
  <p class="ranking-heading">
  <span id="F_company_name">COMPANY NAME</span>(<span id="F_ric">CODE</span>): <span class="ranking-green">95</span>/100
  </p>
  <span class="short-description">
    <span id="F_description">SHORT DESCRIPTION</span>
  </span>
  <p class="status">
    <span id="F_status">STATUS</span>
  </p>
<table class="table table-striped table-bordered">
  <thead class="bkg-orange">
    <tr>
      <th>Data Type</th>
      <th>Parameter</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Request document</td>
      <td><span id="F_ipfs_link">IPFS LINK</span></td>
    </tr><tr>
      <td>Deadline</td>
      <td><span id="F_deadline">DATE</span></td>
    </tr><tr>
      <td>Reward</td>
      <td><span id="F_reward">REWARD</span></td>
    </tr><tr>
      <td>Auditor count</td>
      <td><span id="F_joined_auditors">NUM</span> out of <span id="F_auditor_max">MAXNUM</span> slots</td>
    </tr><tr>
      <td>Submission count</td>
      <td><span id="F_submission_num">NUM</span> out of <span id="F_submission_max">MAXNUM</span> auditors</td>
      </tr><tr>
        <td colspan="2">
          External Data
        </td>
      </tr><tr>
        <td>Reuters Perm Id</td>
        <td><span id="F_permid">PERM ID</span></td>
      </tr>
    </tbody>
  </table>

  <p class="subheading">
    Rating Details
  </p>

  DETAILS TABLE
  CALC SCRIPT
  SLIDERS

  plot
  <div id="p_histogram">

  </div>

  <script type="text/javascript">
    var data = [
    {
      y: [10,20,30,30,40,40,40,50,50,50,50,50,60,60,60,60,70,70,70,70,70,70,80,80,80,80,80,90,90,100,100],
      type: 'histogram'
    }];

    Plotly.plot(document.getElementById('p_histogram'), data);
  </script>
</div>