<div class="rating-details">
  <p class="ranking-heading">
  <span id="F_company_name">COMPANY NAME</span>: <span class="ranking-green">95</span>/100
  </p>
  <span class="short-description">
    <span id="F_description">SHORT DESCRIPTION</span>
  </span>
  <p class="status">STATUS</p>
<table class="table table-striped table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th>Data Type</th>
      <th>Parameter</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Request document</td>
      <td><span id="F_ipfs_link">IPFS LINK</span></td>
    </tr><tr>
      <td>Deadline</td>
      <td><span id="F_date">DATE</span></td>
    </tr><tr>
      <td>Reward</td>
      <td><span id="F_reward">REWARD</span></td>
    </tr><tr>
      <td>Auditor count</td>
      <td>NUM/MAXNUM</td>
    </tr><tr>
      <td>Submission count</td>
      <td>NUM/MAXNUM</td>
      </tr><tr>
        <td colspan="2">
          External Data
        </td>
      </tr><tr>
        <td>Reuters Perm Id</td>
        <td>PERM ID</td>
      </tr>
      </tr><tr>
        <td>Companies House</td>
        <td>LINK</td>
      </tr>
    </tbody>
  </table>

  <p class="subheading">
    Rating Details
  </p>

  DETAILS TABLE
  CALC SCRIPT
  SLIDERS
</div>