<tr class="list-row">
    <td class="name">LINK</td>
    <td class="ric">RIC</td>
    <td class="reward">Ether Ethers</td> 
    <td class="available">MAX AUDITORS</td>
    <td class="joined">0</td>
    <td class="submitted">0</td>
    <td class="action-cell text-center">
        <button id="btn_join_analysis" text="Join analysis" class="btn-success btn-join-analysis"/>
        <button id="btn_submit_analysis" text="Submit analysis" class="btn btn-primary btn-submit-analysis" data-toggle="modal" data-target="#responseModal"/>
        <button id="btn_details_analysis" class="btn-details-analysis" text="Details"/>
    </td>
</tr>