    <td class="name">LINK</td>
    <td class="ric">RIC</td>
    <td class="reward">Ether Ethers</td> 
    <td class="available">0</td>
    <td class="joined">0</td>
    <td class="submitted">0</td>
    <td class="action-cell text-center">
        <button id="btn_contribute" class="btn btn-primary btn-contribute-analysis">Contribute</button>
        <button id="btn_join_analysis" class="btn btn-success btn-join-analysis">Join analysis</button>
        <button id="btn_submit_analysis" class="btn btn-primary btn-submit-analysis">Submit analysis</button>
        <button id="btn_details_analysis" class="btn btn-success btn-details-analysis" >Details</button>
    </td>
