<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Additional payment
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="etherInput">Your additional payment</label>
            <input type="number" class="form-control" id="etherInput" aria-describedby="etherHelp" placeholder="10">
            <small id="etherHelp" class="form-text text-muted">How much Ξ do you want to add your offer?</small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
