<form>
  <div class="form-group">
    <label for="nameInput">Name</label>
    <input type="text" class="form-control" id="nameInput" aria-describedby="nameHelp" placeholder="Name for request, eg. Augur ICO">
    <small id="nameHelp" class="form-text text-muted">Please enter a name for your request, eg. Augur ICO.</small>
  </div>

  <div class="form-group">
    <label for="urlInput">URL</label>
    <input type="text" class="form-control" id="urlInput" aria-describedby="urlHelp" placeholder="URL, eg. http://permid.org/1-4295911963">
    <small id="urlHelp" class="form-text text-muted">Enter a link to a website for the entity or instrument.</small>
  </div>

  <div class="form-group">
    <label for="ricInput">RIC</label>
    <input type="text" class="form-control" id="ricInput" aria-describedby="ricHelp" placeholder="RIC, eg. GOOG">
    <small id="ricHelp" class="form-text text-muted">Enter a RIC id for the entity or instrument.</small>
  </div>

  <div class="form-group">
    <label for="hashInput">IPFS hash</label>
    <input type="text" class="form-control" id="hashInput" aria-describedby="hashHelp" placeholder="Hash of the location of supporting documents">
    <small id="hashHelp" class="form-text text-muted">Enter a hash to identify where the supporting documents for the entity or instrument are stored on IPFS.</small>
  </div>

  <div class="form-group">
    <label for="descriptionInput">Description</label>
    <textarea type="text" rows="10" class="form-control" id="descriptionInput" aria-describedby="descriptionHelp" placeholder="Please describe your rating request, including supporting material."></textarea>
    <small id="descriptionHelp" class="form-text text-muted">Please provide a detailed description of the entity or instrument you would like to request a rating for. Please include relevant websites and links to due diligence documents.</small>
  </div>

  <div class="form-group">
    <label for="etherInput">Your offer</label>
    <input type="number" class="form-control" id="etherInput" aria-describedby="etherHelp" placeholder="10">
    <small id="etherHelp" class="form-text text-muted">How much Ξ are you offering the auditors for this rating request?</small>
  </div>

  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      I confirm that the information provided is correct to my best knowledge.
    </label>
  </div>
  
</form>