<button type="button" class="btn btn-primary" id="join-button">
  Join this Analysis
</button>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#responseModal">
  Submit analysis
</button>

<!-- Modal -->
<div class="modal fade" id="responseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Submit your rating response</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="hashInput">IPFS hash</label>
            <input type="text" class="form-control" id="hashInput" aria-describedby="hashHelp" placeholder="Hash of the location of supporting documents">
            <small id="hashHelp" class="form-text text-muted">Enter a hash to identify where the supporting documents your analysis are stored on IPFS.</small>
          </div>

          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              I confirm that the information provided is correct to my best knowledge.
            </label>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="submit-request" type="button" class="btn btn-primary">Submit</button>
      </div>
      </form>
    </div>
  </div>
</div>